/* reset css */
html,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
};
@font-face {
    font-family:ma_polide;
    src: url('Dancing_Script,Lato,Poppins,Quicksand,Roboto/Lato/Lato-BoldItalic.ttf');
}
body{
    font-family:ma_police;
}